.nav-bar{
    display: flex;
    background-color: aqua;
    padding-top: 5rem;
    padding: 15px;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-link
{
    text-decoration: none;
}